@import "bootstrap-sprockets";
@import "bootstrap";

.margin_top_50{
	margin-top:50px;
}

.margin_top_80{
	margin-top:80px;
}

#logo{
	color:#000;
	font-size:1.7em;
	float:left;
	text-transform:uppercase;
	letter-spacing:-1px;
	font-weight:bold;
}

#logo:hover{
	color:#ccc;
	text-decoration:none;
}

.center{
	text-align:center;
}

.jumbotron{
	background-image:asset-url('bg.jpg');
	background-size:cover;
	height:300px;
}

.jumbotron h2{
	color:#000;
	font-size:50px;
	text-align:center;
	margin-bottom:50px;
	letter-spacing:-1px;
}

.description{
	margin-top:0;	
}

.article-title{
	font-weight:bold;
	font-size:1.5em;
}

.article-body{
	border-top:1px solid #eaeaea;
	padding:15px 0 10px 0;
}

.btn-xlarge{
	font-size:1.7em;
	background-color:rgba(0,0,0,0.5);
	border:none;
}

.article-meta-details{
	padding:5px 0;
	margin-top:15px;
	border-top:1px solid #eaeaea;	
}

.article-actions{
	border-top:1px solid #eaeaea;
	padding-top:10px;
}

.listing{
	list-style-type:none;
	padding-left:0;	
}

.badge{
	background-color:#cef6f5;
	text-transform:uppercase;
	letter-spacing:-1px;
	font-weight:bold;
	margin-left:2px;
}

.input_checkbox input{
	width:auto !important;

}

.footer-container{
	position:fixed;
	width:100%;
	bottom:0px;
	background:#f8f8f8;
	border-top:1px solid #eaeaea;
	color:#777;
	padding:5px 0;
}

.footer{
	padding:0 20px;
	padding-top:10px;
}

.footer ul{
	list-style-type:none;
	margin-bottom:0px;
}

.footer a:hover{
	color:#222;
}

.footer small{
	float:left;
}

.footer nav ul li{
	float:right;
}
.footer nav ul li{
	padding-right:10px;
}

.clearfix{
	clear:both;
	content:'';
	overflow:auto;
}
