

<div class="footer-container">
	<footer class="footer">
		<small>
			Copyright &copy; <a href="#">The Complete Ruby on Rails Developer Course </a> By <a href="#">Khalil Liu</a>
		</small>
		<nav>
			<ul>
				<li><%= link_to "About", about_path %></li>
				<li><%= link_to "Home", root_path %></li>
			</ul>
		</nav>
		<div class="clearfix"></div>
	</footer>
</div>